@model ListModel

<div>
    @{
        //ListModel model = new ListModel();

        ViewData["ListTitle"] = "Countries";
    }
    @* <h3>
    @ViewData["ListTitle"]</h3>*@
    @if (Model.ListTitle == null)
    {
        <h3>@ViewData["ListTitle"]</h3>
    }
    else
    {
        <h3>@Model.ListTitle</h3>
    }
    <ul class="list-group">
        @if(Model.ListItems.Count>0){
        foreach (var item in Model.ListItems)
        {
            <Li>@item</Li>
        }
        }
        else{

        foreach (var item in (List<string>)ViewData["country"]!)
        {
            <Li>@item</Li>
        }
        }



    </ul>
    @*<h1>@ViewData["list"]</h1>*@
</div>