<h1>@ViewBag.key</h1>
<h1>@ViewBag.key1</h1>
<h1>@ViewBag.key2</h1>
<h1>@ViewBag.section1</h1>
<h1>@ViewBag.section2</h1>
<h5>Through Model Data Received</h5>
<h1>@ViewBag.MyCLientKey</h1>
<h1>@ViewBag.MyApiKey</h1>
<h5>Through Model Data Bind</h5>
<h1>@ViewBag.bindClientKey</h1>
<h1>@ViewBag.bindApiKey</h1>
<h5>Through Services Data Bind</h5>
<h1>@ViewBag.serviesClientKey</h1>
<h1>@ViewBag.servicesApiKey</h1>

